@use './theme.scss' as *;
@use 'sass:map';

.pageContainer {
    /*Positioning*/
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /*Box Model*/
    width: inherit;
    min-height: 0;
    padding: 9px;
    /*Color*/
    /*Typography*/
    /*Cursor*/
    /*Pseudo-classes*/
}

.uploadNoteContainer {
    /*Positioning*/
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Box Model*/
    width: inherit;
    min-height: 0;
    padding: 9px;
    /*Color*/
    /*Typography*/
    /*Cursor*/
    /*Pseudo-classes*/
}
.topContainer { 
    /*Positioning*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Box Model*/
    width: inherit;
    /*Color*/
    /*Typography*/
    /*Cursor*/
    /*Pseudo-classes*/
}

.notebookTitle {
    span { color: map-get($colors, "accent") }
}

.divider {
    /*Positioning*/
    /*Box Model*/
    margin-left: -9px;
    width: calc(100% + 18px);
    border: none;
    border-top: 3px solid map.get($colors, "secondary");
    /*Color*/

    /*Typography*/
    /*Cursor*/
    /*Pseudo-classes*/
}

.notebookContainer {
    /*Positioning*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    /*Box Model*/
    width: inherit;
    height: 100%;
    overflow-y: auto;
    /*Color*/

    /*Typography*/

    /*Cursor*/

    /*Pseudo-classes*/
}