@use './theme.scss' as *;
@use 'sass:map';

.pageContainer {
    /*Positioning*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*Box Model*/
    padding: 2.5% 5%;
    /*Color*/
    /*Typography*/
    color: map.get($colors, "light") 
    /*Cursor*/

    /*Pseudo-classes*/
    
}

.popup {
    /*Positioning*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*Box Model*/
    height: 450px;
    width: 400px;
    margin-top: 60px;
    padding: 5%;
    border-radius: 25px;
    /*Color*/
    background-color: map.get($colors, "primary");
    box-shadow: 25px 25px 0 map.get($colors, "dark");
    /*Typography*/
    /*Cursor*/
    /*Pseudo-classes*/
}

.createAccountForm {
    /*Positioning*/

    /*Box Model*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*Color*/

    /*Typography*/

    /*Cursor*/

    /*Pseudo-classes*/
}

.createAccountTitle {
    @include heading-1;
}

.haveAccountLogin {
    @include heading-3;
}

.loginLink {
    @include link;
}

