@use './theme.scss' as *;
@use 'sass:map';

.pageContainer {
    /*Positioning*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*Box Model*/
    padding: 2.5% 5%;
    /*Color*/
    /*Typography*/
    color: map.get($colors, "light") 
    /*Cursor*/
    
    /*Pseudo-classes*/
    
}

.popup {
    /*Positioning*/
    display: flex;
    flex-direction: column;
    /*Box Model*/
    min-height: 250px;
    width: 500px;
    margin-top: 100px;
    padding: 3%;
    border-radius: 25px;
    /*Color*/
    background-color: map.get($colors, "primary");
    box-shadow: 25px 25px 0 map.get($colors, "dark");
    /*Typography*/
    /*Cursor*/
    /*Pseudo-classes*/
}

.backArrow {
    /*Positioning*/
    align-self: flex-start;
    /*Box Model*/
    /*Color*/
    color: map.get($colors, "light");
    /*Typography*/
    /*Cursor*/
    cursor: pointer;
    /*Pseudo-classes*/
    &:hover {
        color: map.get($colors, "accent");
    }
}

.forgotPasswordTitle {
    @include heading-1;
    align-self: center;
}

.forgotPasswordSubtitle {
    @include heading-3;
    align-self: center;
}

.forgotPasswordContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.errorText {
    /*Positioning*/

    /*Box Model*/

    /*Color*/
    color: map.get($colors, "accent");
    /*Typography*/

    /*Cursor*/

    /*Pseudo-classes*/
}
