@use './theme.scss' as *;
@use 'sass:map';

.containerWrapper {
    /*Positioning*/
    flex-shrink: 0;
    /*Box Model*/
    height: inherit;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /*Color*/
    /*Typography*/
    /*Cursor*/
    /*Pseudo-classes*/
}

.pageContainer {
    /*Positioning*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    /*Box Model*/
    height: inherit;
    width: 200px;
    padding: 9px;
    border-right: 3px solid map.get($colors, "secondary");
    /*Color*/
    /*Typography*/
    /*Cursor*/
    /*Pseudo-classes*/
}

.collapsedContainer {
    /*Positioning*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Box Model*/
    width: 10px;
    height: inherit;
    padding: 9px;
    border-right: 3px solid map.get($colors, "secondary");
    /*Color*/
    background-color: map.get($colors, "secondary");
    /*Typography*/
    /*Cursor*/
    cursor: pointer;
    /*Pseudo-classes*/

    &:hover {
        color: map.get($colors, "light");
    }
}

.topContainer {
    /*Positioning*/
    /*Box Model*/
    width: 100%;
    /*Color*/
    /*Typography*/
    /*Cursor*/
    /*Pseudo-classes*/
}

.topInnerContainer {
    /*Positioning*/
    display: flex;
    justify-content: space-between;
    /*Box Model*/
    width: inherit;
    /*Color*/
    /*Typography*/
    /*Cursor*/
    /*Pseudo-classes*/
}

.collapseIn {
    /*Cursor*/
    cursor: pointer;
    /*Pseudo-classes*/
    &:hover {
        color: map.get($colors, "accent");
    }
}

.mumunoteLogo {
    /*Positioning*/
    /*Box Model*/
    margin-left: 7px;
    /*Color*/
    /*Typography*/
    /*Cursor*/
    /*Pseudo-classes*/
}

.happyStudyingText {
    /*Positioning*/
    /*Box Model*/
    margin-top: 5px;
    margin-bottom: 5px;
    /*Color*/
    /*Typography*/
    /*Cursor*/
    /*Pseudo-classes*/
}

.divider {
    /*Positioning*/
    align-self: flex-end;
    justify-self: flex-end;
    /*Box Model*/
    margin-left: -9px;
    width: calc(100% + 18px);
    border: none;
    border-top: 3px solid map.get($colors, "secondary");
    /*Color*/

    /*Typography*/
    /*Cursor*/
    /*Pseudo-classes*/
}

.footerContainer {
    /*Positioning*/
    position: absolute;
    bottom: 18px;
    /*Box Model*/
    margin-left: -9px;
    width: calc(100% + 9px);
    padding: 7% 5%;
    /*Color*/
    background-color: map.get($colors, "secondary");
    /*Typography*/

    /*Cursor*/

    /*Pseudo-classes*/

}

.logoutIcon {
    transition: color 0.5s ease-in-out;
    /*Cursor*/
    cursor: pointer;
    /*Pseudo-classes*/
    &:hover {
        color: map.get($colors, "light");
    }
}