@use "sass:map";
@use 'sass:color';

$colors: (
    "dark": #463F3A,
    "light": #F4F3EE,
    "primary": #8A817C,
    "secondary": #BCB8B1,
    "accent": #F59AFF
);

$font-primary: 'Cabin', sans-serif;

html {
    background-color: map.get($colors, "light");
}

@mixin heading-1 {
    /*Positioning*/
    /*Box Model*/
    margin: 5px 0;
    /*Color*/
    /*Typography*/
    font-size: 50px;
    font-weight: normal;
    font-family: $font-primary;
    /*Cursor*/
    -webkit-user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;
    /*Pseudo-classes*/
}

@mixin heading-2 {
    /*Positioning*/
    /*Box Model*/
    margin: 5px 0;
    /*Color*/
    /*Typography*/
    font-size: 25px;
    font-weight: normal;
    font-family: $font-primary;
    /*Cursor*/
    -webkit-user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;
    /*Pseudo-classes*/
}

@mixin heading-3 {
    /*Positioning*/
    /*Box Model*/
    margin: 5px 0;
    /*Color*/
    /*Typography*/
    font-size: 15px;
    font-weight: normal;
    font-family: $font-primary;
    /*Cursor*/
    -webkit-user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;
    /*Pseudo-classes*/
}

@mixin link {
    /*Positioning*/
    /*Box Model*/
    /*Color*/
    color: map-get($colors, "light");
    /*Typography*/
    text-decoration: underline;
    /*Pseudo-classes*/
    &:hover {
        color: map.get($colors, "accent");
        cursor: pointer;
    }
}

//custom scrollbar to match theme
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: color.adjust(map.get($colors, "secondary"), $alpha: -0.5);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: map.get($colors, "secondary");
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: color.adjust(map.get($colors, "primary"), $alpha: -0.3);
}